<nav>
  <a class="nav-logo" href="/"><span>LH</span> / Lin-Lin Hua</a>
  <ul class="nav-links">
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Index</a></li>
    <li><a href="/work/" {% if page.url contains "/work" or page.layout == "post" %}class="active"{% endif %}>Work</a></li>
    <li><a href="/about/" {% if page.url contains "/about" %}class="active"{% endif %}>About</a></li>
    <li><a href="/contact/" {% if page.url contains "/contact" %}class="active"{% endif %}>Contact</a></li>
  </ul>
</nav>
